*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--font-family);
    color: var(--color-text)
}

main{
    box-shadow: inset 0px 10px 10px -2px var(--shadow-color);
    padding: 2rem;
    background-color: var(--background-color);
    min-height: calc(100svh - 75px);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--color-text)
}