:root {
  --background-color: hsl(207, 26%, 17%);
  --shadow-color: hsla(208, 25%, 10%, 0.15);
  --color-text: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
  --elements-hover: hsl(209, 33%, 22%);

  --font-family: "Nunito Sans", sans-serif;
  --weight-minimy: 300;
  --weight-normal: 600;
  --weight-bold: 800;

  --icon-theme: '🌙';
}

[data-theme="light"] {
  --background-color: hsl(0, 0%, 98%);
  --shadow-color: hsla(208, 25%, 50%, 0.2);
  --color-text: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
  --elements-hover: hsl(0, 0%, 95%);
  --icon-theme: '☀️';

}
